# **Movie Recommendation System**

**Recommender System** is a system that seeks to predict or filter preferences according to the user's choices. Recommender systems are utilized in a variety of areas including movies, music, news, books, research articles, search queries, social tags, and products in general. Recommender systems produce a list of recommendations in any of the two ways :

**Collaborative filtering**: Collaborative filtering approaches build a model from the user's past behavior (ie. items purchased or searched by the user) as well as similar decisions made by other users. This model is then used to predict items (or ratings for items) that users may have an interest in.

**Content-based filtering bold text**: Content-based filtering approaches uses a series of discrete characteristics of an item in order to recommend additional items with similar properties. Content-based filtering methods are totally based on a description of the item and a profile of the user's preferences. It recommends items based on the user's past preferences. Let's develop a basic recommendation system using Python and Pandas.

Let's develop a basic recommendation system by suggesting items that are most similar to a particular item, in this case, movies. It just tells what movies/items are most similar to the user's movie choice

# **Import Library**

In [16]:
import pandas as pd
import numpy as np

# **Import Data**

In [2]:
df = pd.read_csv(r"/content/Movies Recommendation.csv")

In [3]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [5]:
df.shape

(4760, 21)

In [6]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

# **Get feature selection**

In [7]:
df_features= df[['Movie_Genre','Movie_Keywords','Movie_Tagline','Movie_Cast','Movie_Director']]

In [8]:
df_features.shape

(4760, 5)

In [9]:
df_features

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
4755,Horror,NaN,The hot spot where Satan's waitin'.,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo
4756,Comedy Family Drama,NaN,It’s better to stand out than to fit in.,Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito
4757,Thriller Drama,christian film sex trafficking,She never knew it could happen to her...,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens
4758,Family,NaN,NaN,NaN,NaN
4759,Documentary,music actors legendary perfomer classic hollyw...,NaN,Tony Oppedisano,Simon Napier-Bell

In [10]:
x = df_features['Movie_Genre']+' '+df_features['Movie_Keywords']+' '+df_features['Movie_Tagline']+' '+df_features['Movie_Cast']+' '+df_features['Movie_Director']

In [11]:
x

0       Crime Comedy hotel new year's eve witch bet ho...
1       Adventure Action Science Fiction android galax...
2       Animation Family father son relationship harbo...
3       Comedy Drama Romance vietnam veteran hippie me...
4       Drama male nudity female nudity adultery midli...
                              ...
4755                                                  NaN
4756                                                  NaN
4757    Thriller Drama christian film sex trafficking ...
4758                                                  NaN
4759                                                  NaN
Length: 4760, dtype: object

In [12]:
x.shape

(4760,)

# **Get Feature Text Conversion to Tokens**

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

In [19]:
tfidf= TfidfVectorizer()

In [23]:
x = [str(item) for item in x]
x = tfidf.fit_transform(x)

In [25]:
x.shape

(4760, 14760)

In [26]:
print(x)

  (0, 533)	0.16400730347966605
  (0, 428)	0.14480710249054038
  (0, 13194)	0.1460072234045736
  (0, 8247)	0.14258556698453415
  (0, 8077)	0.1669712770888808
  (0, 1178)	0.1669712770888808
  (0, 6720)	0.09939253039334757
  (0, 1034)	0.14056628189744372
  (0, 633)	0.13700718336702736
  (0, 11182)	0.14366855395969502
  (0, 13142)	0.10816721996836318
  (0, 7722)	0.0874285167465866
  (0, 9513)	0.06394158650289854
  (0, 14352)	0.1744398940932959
  (0, 4823)	0.08589709371345547
  (0, 14318)	0.10686114739776267
  (0, 6783)	0.13255293007270985
  (0, 13018)	0.09959538243705136
  (0, 9579)	0.0736878087323703
  (0, 3325)	0.11965590860182923
  (0, 4727)	0.11432976440217778
  (0, 6061)	0.19730018458027812
  (0, 6401)	0.14921553081605893
  (0, 1273)	0.19477864361326694
  (0, 7859)	0.15005418398894924
  :	:
  (4757, 6612)	0.282967046407734
  (4757, 1886)	0.282967046407734
  (4757, 702)	0.282967046407734
  (4757, 12127)	0.282967046407734
  (4757, 4987)	0.24256955606784908
  (4757, 13281)	0.24256955606784908
  (4757, 12456)	0.2382636073135533
  (4757, 1010)	0.1897620522430951
  (4757, 2978)	0.19673453718663794
  (4757, 5712)	0.22021783652075874
  (4757, 11831)	0.16361221671972725
  (4757, 11741)	0.15120773298106838
  (4757, 9334)	0.19160522332095334
  (4757, 4685)	0.13414457066004923
  (4757, 2517)	0.16786134305412895
  (4757, 7244)	0.23446549133727582
  (4757, 5948)	0.16878274045037628
  (4757, 7171)	0.17916887523686975
  (4757, 13096)	0.08017430864947131
  (4757, 13166)	0.09777405967688488
  (4757, 6577)	0.11402334640583417
  (4757, 9288)	0.14374223792809548
  (4757, 3850)	0.06524734955166166
  (4758, 9168)	1.0
  (4759, 9168)	1.0

# **Get Similarity Score using Cosine Similarity**

In [27]:
from sklearn.metrics.pairwise import cosine_similarity

In [29]:
Similarity_Score = cosine_similarity(x)

In [30]:
Similarity_Score

array([[1.        , 0.01383423, 0.03601212, ..., 0.        , 0.        ,
        0.        ],
       [0.01383423, 1.        , 0.00822535, ..., 0.        , 0.        ,
        0.        ],
       [0.03601212, 0.00822535, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        1.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        1.        ]])

In [31]:
Similarity_Score.shape

(4760, 4760)

# **Get Movie Name as Input from User and Validate for Closest Spelling**

In [32]:
fav_movie_name = input("Enter your favorite movie name : ")

Enter your favorite movie name : avtaar

In [33]:
All_movies_title_list = df['Movie_Title'].tolist()

In [35]:
import difflib

In [37]:
Movie_Recommendation = difflib.get_close_matches(fav_movie_name,All_movies_title_list)
print(Movie_Recommendation)

['Avatar', 'Gattaca']

In [38]:
Close_match = Movie_Recommendation[0]
Close_match

'Avatar'

In [39]:
Index_of_Close_match_movie = df[df.Movie_Title == Close_match]['Movie_ID'].values[0]
print(Index_of_Close_match_movie)

2692

In [55]:
Recommendation_Score = list(enumerate(Similarity_Score[Index_of_Close_match_movie]))

In [42]:
len(Recommendation_Score)

4760

# **Get All Movies Sort Based on Recommendation Score wrt Favorite Movie**

In [52]:
Sorted_Similar_Movies = sorted(Recommendation_Score, key = lambda x:x[1],reverse=True)

In [53]:
print("Top 30 movies suggested for you : \n")
i=1
for movie in Sorted_Similar_Movies:
  index= movie[0]
  title_from_index = df[df.index== index]['Movie_Title'].values[0]
  if (i<31):
    print(i,'.',title_from_index)
    i+=1

Top 30 movies suggested for you :

1 . Niagara
2 . Brokeback Mountain
3 . Harry Brown
4 . Night of the Living Dead
5 . The Curse of Downers Grove
6 . The Boy Next Door
7 . Back to the Future
8 . Some Like It Hot
9 . The Juror
10 . The Kentucky Fried Movie
11 . Enough
12 . Eye for an Eye
13 . The Misfits
14 . Alice Through the Looking Glass
15 . Superman III
16 . Premium Rush
17 . Duel in the Sun
18 . Sabotage
19 . Small Soldiers
20 . The Raid
21 . All That Jazz
22 . Beyond the Black Rainbow
23 . Tora! Tora! Tora!
24 . We Are Your Friends
25 . The Dark Knight Rises
26 . Edge of Darkness
27 . World Trade Center
28 . Dallas Buyers Club
29 . Out of Time
30 . Mad Max 2: The Road Warrior

# **Top 10 Movie Recommendation System**

In [54]:
Movie_Name = input("Enter your favorite movie name : ")
List_of_all_titles = df['Movie_Title'].tolist()
Find_Close_Match = difflib.get_close_matches(Movie_Name,List_of_all_titles)
Close_Match = Find_Close_Match[0]
Index_of_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]
Recommendation_Score = list(enumerate(Similarity_Score[Index_of_Movie]))
sorted_similar_movies = sorted(Recommendation_Score,key = lambda x:x[1],reverse=True)
print("Top 30 movies suggested for you : \n")
i=1
for movie in sorted_similar_movies:
  index=movie[0]
  title_from_index = df[df.Movie_ID == index]['Movie_Title'].values
  if (i<11):
    print(i,'.',title_from_index)
    i+=1

Enter your favorite movie name : avtaar
Top 30 movies suggested for you :

1 . ['Avatar']
2 . ['Donnie Darko']
3 . ['Precious']
4 . ['Freaky Friday']
5 . ['The Opposite Sex']
6 . ['Heaven is for Real']
7 . ['Run Lola Run']
8 . ['The Godfather']
9 . ['Elizabethtown']
10 . ['New Nightmare']